body{
    background-color: rgb(230, 231, 243);
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
* {
    outline: 1px solid red;
}
.calculator-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90vh;
    width: 95vw;
    max-width: 600px;
    margin: auto;
    box-sizing: content-box;
}
.display{
    height: 150px;
    background-color: rgb(230, 231, 243);
    color: black;
    font-size: 56px;
    padding: 8px;
}
.buttons-container{
    display: flex;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    padding: 0px;
}
.calc-button{
    display: block;
    width: 95px;
    font-size: 38px;
    text-align: center;
    border-radius: 99px;
    border: none;
    background-color:white;
    box-shadow: 0px 1px 3px rgb(207, 201, 228);
}
.number-button{
    font-weight: bold;
}
.action-button{
    background-color:rgb(208, 215, 251);
}
.operator-button{
    background-color: rgb(89, 111, 247);
    color: white;
}
.zero-button{
    flex-basis: 200px;
}
.button-row, .last-button-row{
    display: flex;
    width: 100%;
    height: 95px;
    justify-content: space-evenly;
    gap: 6px;
}